/* NECESSARY TO MAKE THE DROPDOWN MENU OPEN WHEN HOVER AUTOMATICALY */
.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

/* Footer rebrand*/
.nav-footer {
  flex-direction: column;
  max-width: 850px;
}
.footer{
  display: flex;
  justify-content: center;
}