.strobelight { /*added to sidebar with <style> block*/
  animation: color-change 2s infinite;
  font-weight: bold;
  text-align: center;
  padding-left: 15%;
}

.abstract-button { /*added to sidebar with <style> block*/
  font-weight: bold;
}
  
@keyframes color-change {
  0% { color: #203dce; }
  50% { color: #2099ce; }
  100% { color: #958b6a; }
}
